@model VF.Store.UI.Models.Produto

@{
    ViewBag.Title = $"{(Model.Id == 0 ? "Adicionar" : "Editar")} Produto";
}

<h2>@ViewBag.Title</h2>

<form method="post">
    
    <div class="mb-3">
        <label for="txtNome">Nome:</label>
        <input type="text" class="form-control" name="nome" id="txtNome" value="@Model.Nome" autofocus>
    </div>

    <div class="mb-3">
        <label class="form-label">Preço:</label>
        <input class="form-control" type="text" name="preco" value="@Model.Preco">
    </div>

    <div class="mb-3">
        <label class="form-label">Tipo:</label>
        <select name="TipoDeProdutoId" class="form-control">
            <option value="">Selecione o Tipo</option>
            @foreach (VF.Store.UI.Models.TipoDeProduto i in ViewBag.Tipos)
            {
                <option @(i.Id == Model.TipoDeProdutoId ? "selected" : "") value="@i.Id">@i.Nome</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Quantidade:</label>
        <input class="form-control" type="text" name="Quantidade" value="@Model.Quantidade">
    </div>
    
    <div class="mb-3">
        <button class="btn btn-outline-secondary">Salvar</button>
        <a href="~/Produtos" class="btn btn-outline-info">Cancelar</a>
    </div>
</form>