@using VF.Store.UI.Models

@{
    ViewBag.Title = "Todos os Produtos";
}

<h2>@ViewBag.Title</h2>

<div class="mb-3">
    <a href="@Url.Action("AddEdit")" class="btn btn-outline-primary">Novo Produto</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-light">
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Tipo</th>
                <th>Quantidade</th>
                <th>Data do Cadastro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr id="produto-@p.Id">
                    <td>@p.Nome</td>
                    <td>@p.Preco.ToString("C2")</td>
                    <td>@p.TipoDeProduto.Nome</td>
                    <td>@p.Quantidade</td>
                    <td>@p.DataCadastro</td>
                    <td>
                        <div class="btn-group">
                            <a href="@Url.Action("AddEdit", new {id = p.Id})" class="btn btn-outline-success btn-sm"><i class="far fa-edit"></i></a>
                            <button class="btn btn-outline-danger btn-sm" onclick="DelProd(@p.Id, '@p.Nome')"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
<div data-id="0" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="delModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar exclusão?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja excluir <span id="nomeProduto"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="ConfirmaDelete()" data-bs-dismiss="modal">Confirmar</button>
            </div>
        </div>
    </div>
</div>


<script>
    function DelProd(id, nome) {
        document.getElementById('nomeProduto').innerHTML = "<b>" + nome + "</b>";
        document.getElementById('delModal').setAttribute('data-id', id);
        new bootstrap.Modal(document.getElementById('delModal')).show();
    }

    function ConfirmaDelete() {
        let _id = document.getElementById('delModal').getAttribute('data-id');
        let xhr = new XMLHttpRequest();
        const url = `/Produtos/DeleteProduto/${_id}`;

        xhr.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 404) {
                toastr.options.progressBar = true;
                toastr.options.showEasing = 'swing';
                toastr.options.hideEasing = 'linear';
                toastr.options.closeEasing = 'linear';
                toastr.error('Produto não Localizado.', 'Falha!', { timeOut: 3000 });
                setTimeout(function () { location.reload(); }, 3500);
            }

            if (this.readyState === 4 && this.status === 200) {
                let tr = document.querySelector(`#produto-${_id}`);
                if (tr !== null) {
                    tr.remove();
                }
                toastr.options.progressBar = true;
                toastr.options.showEasing = 'swing';
                toastr.options.hideEasing = 'linear';
                toastr.options.closeEasing = 'linear';
                toastr.success('Produto excluído.', 'Sucesso!', { timeOut: 3000 });
                new bootstrap.Modal(document.getElementById('modalAviso')).show();
            }
        };

        xhr.open('get', url);
        xhr.send();
    }
</script>